# 1. Enforce strict version checking
engine-strict=true

# 2. Save exact versions (Optional but recommended)
# This removes the "^" symbol, so v6.19.1 stays v6.19.1 forever until you manually update.
save-exact=true